@{
    ViewBag.Title = "Index";
}


<div class="jumbotron text-center" style="margin-top: 40px; background-color: aqua">
    <h1>Sistema de Gerenciamento de Empréstimos de Jogos</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3></h3>
            <p>Este Sistema tem como intuito ajudar no controle dos empréstimos de seus jogos aos seus amigos, permitindo saber com quem está cada jogo.</p>
        </div>
    </div>
</div>